@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);

#header4-n H1 {
  color: #e6a196;
  text-align: left;
}
#header4-n P {
  color: #d14841;
  font-size: 48px;
  text-align: left;
}
#header4-n .btn {
  font-size: 12px;
}
#header4-n SPAN {
  color: #e6a196;
  font-size: 80px;
}
#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-m .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-m .mbr-brand__name a SPAN {
  font-family: 'Slabo 27px', serif;
}

#header3-11 H3 {
  color: #7c706b;
  text-align: left;
}
#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-m .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-m .mbr-brand__name a SPAN {
  font-family: 'Slabo 27px', serif;
}


#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-m .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-m .mbr-brand__name a SPAN {
  font-family: 'Slabo 27px', serif;
}
#header1-l P {
  font-size: 19px;
  color: #7c706b;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
}
#header1-l H1 {
  color: #b8312f;
  text-align: right;
}
#header1-l SPAN {
  font-size: 46px;
  color: #e6a196;
}
#msg-box4-26 .mbr-header__text {
  color: #ffffff;
  text-align: right;
}
#msg-box4-26 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-26 .mbr-article {
  color: #ffffff;
}
#msg-box4-23 .mbr-header__text {
  color: #7c706b;
  text-align: left;
}
#msg-box4-23 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-23 .mbr-article {
  color: #ffffff;
}
#msg-box4-23 .mbr-article P {
  color: #7c706b;
  text-align: left;
}
#msg-box4-24 .mbr-header__text {
  color: #ffffff;
  text-align: right;
}
#msg-box4-24 .mbr-header__subtext {
  color: #ffffff;
  text-align: right;
}
#msg-box4-24 .mbr-article {
  color: #ffffff;
}
#msg-box4-24 .mbr-header__subtext B {
  font-size: 16px;
}
#msg-box4-24 .mbr-article P {
  text-align: left;
}
#header3-25 H3 {
  color: #7c706b;
}
#features1-12 .mbr-section__col .mbr-header__text {
  color: #cccccc;
}
#msg-box4-p .mbr-header__text {
  color: #ffffff;
  text-align: right;
}
#msg-box4-p .mbr-header__subtext {
  color: #ffffff;
  text-align: right;
}
#msg-box4-p .mbr-article {
  color: #ffffff;
}
#msg-box4-p .mbr-header__subtext B {
  font-size: 16px;
}
#msg-box4-r .mbr-header__text {
  color: #7c706b;
  text-align: right;
}
#msg-box4-r .mbr-header__subtext {
  color: #ffffff;
  text-align: right;
}
#msg-box4-r .mbr-article {
  color: #ffffff;
}
#msg-box4-r .mbr-header__subtext B {
  font-size: 16px;
  color: #7c706b;
}
#msg-box4-r .mbr-article P {
  color: #7c706b;
}
#msg-box4-u .mbr-header__text {
  color: #ffffff;
  text-align: right;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
  text-align: right;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
}
#msg-box4-u .mbr-header__subtext B {
  font-size: 16px;
}

#header3-11 H3 {
  color: #7c706b;
  text-align: left;
}
#msg-box4-5 .mbr-header__text {
  color: #ffffff;
  text-align: right;
}
#msg-box4-5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-header__text {
  color: #7c706b;
}
#msg-box4-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-13 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-article P {
  color: #7c706b;
}
#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-m .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-m .mbr-brand__name a SPAN {
  font-family: 'Slabo 27px', serif;
}

#header3-11 H3 {
  color: #7c706b;
  text-align: left;
}
#msg-box3-1y .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1y .mbr-article P {
  color: #efefef;
}
#msg-box4-5 .mbr-header__text {
  color: #ffffff;
  text-align: right;
}
#msg-box4-5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-5 .mbr-article {
  color: #ffffff;
}
#msg-box4-5 .mbr-article P {
  font-size: 16px;
}
#header3-1v H3 {
  text-align: left;
}
#msg-box4-20 .mbr-header__text {
  color: #ffffff;
  text-align: right;
}
#msg-box4-20 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-20 .mbr-article {
  color: #ffffff;
}
#msg-box4-20 .mbr-article P {
  font-size: 16px;
}
#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-m .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-m .mbr-brand__name a SPAN {
  font-family: 'Slabo 27px', serif;
}

#msg-box4-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9 .mbr-article {
  color: #ffffff;
}
#msg-box4-b .mbr-header__text {
  color: #ffffff;
}
#msg-box4-b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-b .mbr-article {
  color: #ffffff;
}
#msg-box4-b .mbr-article P {
  color: #7c706b;
}
#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-m .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-m .mbr-brand__name a SPAN {
  font-family: 'Slabo 27px', serif;
}

#menu-27 .mbr-brand__name {
  font-size: 16px;
}
#menu-27.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-27 .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-27 .mbr-brand__name a SPAN {
  font-family: 'Slabo 27px', serif;
}
#form1-29 .btn {
  font-size: 16px;
}
#form1-29 .mbr-header__text {
  color: #7c706b;
}
#msg-box4-28 .mbr-header__text {
  color: #7c706b;
  text-align: right;
}
#msg-box4-28 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-28 .mbr-article {
  color: #ffffff;
}
#msg-box4-28 .mbr-article P {
  color: #7c706b;
}
